/* 
===========================================================================
Global Reset 
===========================================================================
*/

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
===========================================================================
Global Styles
===========================================================================
*/

body {
    font-family: "Source Sans 3", sans-serif;
}

li {
    list-style: none;
}

.container {
    max-width: 1000px;
    padding: 1.5em;
    margin: 0 auto;
}

.rotated {
    transform: rotate(-90deg);
}

.hidden {
    display: none;
}

p {
    line-height: 1.5;
}

button {
    font-family: "Source sans 3", sans-serif;
}

a {
    width: 100%;
    color: black;
    text-decoration: none;
}

/* 
============================================================================
Navigation Bar
============================================================================
*/

header {
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    gap: 0.3em;
    align-items: center;
}

.nav-logo-img {
    width: 2em;

}

.nav-logo-text {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 1.125rem;
    letter-spacing: -0.5px;
}

/* Mobile Navigation */

span.hamburger-icon {
    font-size: 30px;
    font-variation-settings: 'OPSZ' 30;
    transition: all ease-in-out .3s;
}

.mobile-menu {position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    background-color: rgb(253, 253, 253);
    transition: all ease-in-out .3s;
}

.mobile-menu nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-menu nav ul li {
    font-size: 1.125rem;
    font-weight: bold;
    padding: 1em;
    width: 100%;
    text-align: center;
}

.mobile-menu nav ul li:not(:last-child) {
    border-bottom: 1px solid rgb(230, 230, 230);
}

/* Desktop Navigation */

.nav-menu-desktop {
    display: none;
}

/* 
============================================================================================
Main Section
============================================================================================
*/

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 5em;
    padding-bottom: 1.5em;
    gap: 0.5em;
    background-image: url('/IMAGES/article-image-hero.jpg');
    background-size: cover;
    color: white;
}

h1 {
    font-size: 2rem;
    line-height: 1;
    padding: 10px 0;
}

/* Blogs */

.blogs {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1.5em;
    margin-bottom: 1em;
    gap: 3em 1.5em;
}

article {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

article img {
    width: 100%;
    aspect-ratio: 6 / 4;
    object-fit: cover;
}

article h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

button {
    text-align: center;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1em;
    text-decoration: underline;
    cursor: pointer;
}

/* 
==========================================================================================
Post page
==========================================================================================
*/

.post-main, .blog-body {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.post-main img {
    width: 100%;
    max-height: 32vh;
    object-fit: cover;
    object-position: top;
}

.blogs h2 {
    text-align: center;
}

/* 
==========================================================================================
About page
==========================================================================================
*/

.profile {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}

.profile img {
    max-width: 182px;
    padding-block: 1em;
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* 
==========================================================================================
Footer
==========================================================================================
*/

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1.5em;
    padding: 1em;
    color: white;
    background-color: #202020;
}

.copyright {
    font-weight: 300;
}

/* 
==========================================================================================
Media Queries
==========================================================================================
*/

/* Tablets */

@media (min-width:600px) {

    .hero p {
        max-width: 90%;
    }

    .grid-container {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media (min-width:768px) {

    .nav-menu-desktop {
        display: block;
    }

    .nav-menu-desktop ul {
        display: flex;
        gap: 1em;
        font-size: 1.125rem;
        font-weight: bold;
    }

    .nav-menu-desktop ul li {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    span.hamburger-icon {
        display: none;
    }

    .hero {
        padding-top: 10em;
        padding-bottom: 3em;
    }

    h1 {
        font-size: 2.5rem;
    }

    .hero p {
        max-width: 80%;    
    }

      time {
        font-size: 1.2rem;
    }

    .grid-container {
        padding-top: 3em;
    }

    footer {
        margin-top: 2.5em;
    }

    .post-wrap {
        padding-inline: 5em;
    }
}

@media (min-width:1024px) {

    .nav-menu-desktop ul {
        font-size: 1rem;

    }

    .hero {
        padding-top: 20em;
    }

    h1 {
        font-size: 2.5rem;
    }

    .hero p {
        max-width: 70%;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 3em;
    }

    footer {
        margin-top: 3em;
    }

        .profile {
        flex-direction: row;
        align-items: center;
        gap: 3em;
    }

}






